body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto 0;
    padding-top: 65px;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

ul{
    display: flex;
    list-style: none;
    gap: 48px;
    margin: 0;
    padding: 0;
}

ul li a{
    font-size: 18px;
    color: #1F1534;
    text-decoration: none;
    opacity: 0.5;
}

ul li a:hover{
    font-weight: bold;
    opacity: 1;
}

h1, li{
    font-family: "Mulish", sans-serif;
}

h1{
    font-weight: normal;
    font-size: 49px;
    line-height: 56px;
    color: #1F1534;
    width: 490px;
}

h1 span{
    color: #89C5CC;
    font-weight: bold;
}

section p{
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
    margin: 40px 0;
}

button{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;

    background: #69B99D;
    border: none;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 16px 32px;

    cursor: pointer;
}

button:hover{
    background: #4c967c;
}

footer{
    margin-top: 80px;
    text-align: center;
    color: #1F1534;
    font-size: 14px;
    line-height: 28px;
}

footer a {
    color: #1F1534;
    font-weight: bold;
    text-decoration: none;
}

.balls{
    position: fixed;
    bottom: 0;
    right: 0;
}